_cjs
_esm
_types
*.local
.DS_Store
.attest
node_modules
tsconfig*.tsbuildinfo
.idea

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.envrc

artifacts
cache
dist